.tabela-container{
/*  overflow-x:auto; */
width: 100%;
}

.tabela{
  width:100%;
  border-collapse:collapse;
  font-size:14px;
}

/* No seu arquivo tabela.css */
/* Cabeçalho Fixo */
.tabela thead th {
  position: sticky;
  top: 0;
  background: #f1f2f6; /* Cor de fundo obrigatória para não transparecer */
  z-index: 10; 
  box-shadow: 0 2px 2px -1px rgba(0, 0, 0, 0.1);
  text-align: left;
  padding: 8px;
  border-bottom: 2px solid #ccc;
  color: #333;
}

.tabela td{
  padding:5px 8px;
  border-bottom:1px solid #eee;
}

.tabela tr:hover{
  background:#f9f9f9;
}
